/* Estilos para el paginado */
.customPagination {
  background-color: #DFE2E2;
  display: flex;
	justify-content: end;
  align-items: center;
}
.headTable{
  background-color: #F0F0F0;
}
.celdaRegistro{
  display: flex;
  text-align: center;
}

